* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Text */
body {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 100;
    line-height: 1.8;
}

h1 {
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    margin: 20px 0;
}

h4 {
    font-size: 24px;
    font-weight: 100;
    margin-left: 20px;
    margin-bottom: 20px;
}

h6 {
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 50px;
}

p {
    margin: 0 20px 20px;
}

section {
    padding: 100px 0;
}

/* Document and Main Grids */
.document {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:20px repeat(4, 1fr) 20px;
    grid-template-areas:
        ". about about about about ."
        "design design design design design design"
        ". team team team team ."
        "stats stats stats stats stats stats"
        ". work work work work ."
        "skills skills skills skills skills skills"
        ". pricing pricing pricing pricing ."
        ". contact contact contact contact .";
}

.about {
    grid-area: about;
}

.design {
    display: flex;
    flex-flow: column nowrap;
    grid-area: design;
    background-color: #f1f1f1;
}

.team {
    grid-area: team;
}

.stats {
    grid-area: stats;
}

.work {
    grid-area: work;
}

.skills {
    grid-area: skills;
}

.pricing {
    grid-area: pricing;
}

.contact {
    grid-area: contact;
}

.key-features {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.features > i {
    padding-bottom: 30px;
}

.big-icon {
    font-size: 64px !important;
}

a {
    text-decoration: none;
}

/* Images */
img {
    width: 100%;
}

figcaption {
    font-size: 24px;
    margin: 0 0 10px 20px;
}

/* Buttons */
.dark-button {
    background-color: #000;
    padding: 12px;
    margin-left: 20px;
}

.dark-button:hover {
    background-color: #d3d3d3;
}

.dark-button > a {
    color: #fff;
    font-size: 18px;
}

.light-button {
    background-color: #f5f5f5;
    color: #000;
    font-size: 14px;
    margin-left: 15px;
    padding: 12px;
    width: 90%;
}

/* Team Grid */
.team-members {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "john"
        "anja"
        "mike"
        "dan";
    gap: 10px;
}

.john {
    grid-area: john;
}

.anja {
    grid-area: anja;
}

.mike {
    grid-area: mike;
}

.dan {
    grid-area: dan;
}

.team-member {
    border: 3px solid #d3d3d3;
    padding-bottom: 20px;
}

.team-member > :nth-child(2) {
    color: #a9a9a9;
}

/* Stats */
.stats {
    background-color:#616161;
    color: #fff;
    padding: 50px 0;
}

.stat-numbers {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    list-style: none;
}

.stat-numbers span {
    font-size: 36px;
}


/* Work Grid */
.work-examples {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "microphone"
        "phone"
        "drone"
        "soundbox"
        "tablet"
        "camera"
        "typewriter"
        "tableturner";
    gap: 10px;
}

/* Medium Screen Styles */
@media screen and (min-width: 600px){
    .key-features {
        flex-flow: row nowrap;
        text-align: center;
    }

    .design {
        flex-flow: row nowrap;
    }

    .design p {
        margin-right: 100px;
    }

    .team-members {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "john anja"
            "mike dan";
    }

    .work-examples {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "microphone phone"
            "drone soundbox"
            "tablet camera"
            "typewriter tableturner";
    }

    .stat-numbers {
        flex-flow: row nowrap;
        justify-content: space-around;
    }
}

/* Larger Screen Styles */
@media screen and (min-width: 1000px){
    .team-members {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "john anja mike dan";
    }

    .work-examples {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "microphone phone drone soundbox"
            "tablet camera typewriter tableturner";
    }
}